<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Create new post</title>
    <link rel="stylesheet" href=" /style.css" />
  </head>
  <body>
    <div class="form-container">
      <form method="post" action="/posts" class="form">
        <input
          type="text"
          name="username"
          id="username"
          placeholder="Enter your username"
        />
        <textarea
          name="content"
          id="content"
          placeholder="write something"
        ></textarea>

        <button>Add Post</button>
      </form>
    </div>
  </body>
</html>
